/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screenswingarm.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,500|Cabin:400,700|Roboto:300);
/* line 5, ../../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.4.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 15, ../sass/screen.scss */
h2 {
  font-family: 'Cabin:700', sans-serif;
  font-weight: bold;
  font: 1.3em;
  margin: 0.5em;
}

/* line 22, ../sass/screen.scss */
p {
  font-family: 'Cabin:400', sans-serif;
}

/* line 26, ../sass/screen.scss */
html,
body {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 33, ../sass/screen.scss */
html {
  background: url(../img/024.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 41, ../sass/screen.scss */
body {
  font: 1em 'Oswald', sans-serif;
}

/* line 45, ../sass/screen.scss */
.container {
  width: 100%;
  text-align: left;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  font-family: 'Cabin', sans-serif;
}

/* line 62, ../sass/screen.scss */
#header-background {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
}

/* line 74, ../sass/screen.scss */
#logo {
  background: #db111d;
  width: 3.5em;
  text-align: right;
  padding-right: 0.3em;
  top: 0px;
  z-index: 20;
  color: #FFFFFF;
  font: 3em 'Oswald', sans-serif;
  text-rendering: optimizelegibility;
  box-shadow: 0.1em 0 0.1em 0 rgba(0, 0, 0, 0.2);
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -ms-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}

/* line 99, ../sass/screen.scss */
#nav-menu {
  background: #232020;
  margin-left: auto;
  margin-right: auto;
  z-index: 15;
  padding-top: 0.6em;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
  flex-grow: 1;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -ms-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}

/* line 122, ../sass/screen.scss */
.topLogo {
  background: #E71B64;
  width: 3.5em;
  text-align: right;
  padding-right: 0.1em;
  padding-left: 0.5em;
  margin-left: 1em;
  margin-top: 0.5em;
  padding-top: -0.2em;
  padding-bottom: 0.1em;
  z-index: 20;
  color: #FFFFFF;
  font: 3.5em 'Oswald', sans-serif;
  text-rendering: optimizelegibility;
  box-shadow: 0em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -ms-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}

/* line 154, ../sass/screen.scss */
.topNav {
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  z-index: 15;
  padding-top: 0.2em;
  margin-top: 2em;
  height: 3.8em;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
  flex-grow: 1;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -ms-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}

/* line 176, ../sass/screen.scss */
#spacer-div {
  height: 10em;
}

/* line 180, ../sass/screen.scss */
#intro-background {
  background: rgba(35, 32, 32, 0.5);
  color: #f9f9f9;
  border-radius: 1em 1em 1em 1em;
  width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}

/* line 191, ../sass/screen.scss */
nav[role="full-horizontal"] {
  display: inline-block;
  width: 100%;
  align-items: center;
}
/* line 196, ../sass/screen.scss */
nav[role="full-horizontal"] ul {
  width: 100%;
  padding-left: 2em;
  list-style: none;
  display: inline-block;
  list-style-type: none;
  color: transparent;
}
/* line 204, ../sass/screen.scss */
nav[role="full-horizontal"] ul > li {
  position: relative;
  float: left;
  padding: .25em 1em;
  margin: 0.5em;
  text-transform: uppercase;
  cursor: pointer;
  color: transparent;
  text-align: center;
  border-radius: .1em;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: background, color, padding, border-radius;
}
/* line 220, ../sass/screen.scss */
nav[role="full-horizontal"] ul > li:after {
  position: absolute;
  z-index: -1;
  content: "";
  right: 0;
  border-radius: 50%;
}
/* line 228, ../sass/screen.scss */
nav[role="full-horizontal"] ul > li:last-child:after {
  box-shadow: none;
}
/* line 232, ../sass/screen.scss */
nav[role="full-horizontal"] ul > li:hover {
  background-color: #E71B64;
}
/* line 236, ../sass/screen.scss */
nav[role="full-horizontal"] ul > li > a {
  color: #E7E0EB;
  text-decoration: none;
  font-size: 0.8em;
}

/* small screens */
@media screen and (max-width: 44em) {
  /* line 247, ../sass/screen.scss */
  body {
    margin: 1.5em 0;
  }

  /* line 252, ../sass/screen.scss */
  nav[role="full-horizontal"] ul {
    padding: 0 .5em;
  }
  /* line 256, ../sass/screen.scss */
  nav[role="full-horizontal"] ul > li {
    width: 100%;
    padding: .45em .25em;
    margin: 0 0 .55em 0;
  }
  /* line 261, ../sass/screen.scss */
  nav[role="full-horizontal"] ul > li:after {
    box-shadow: none;
  }

  /*Top Menus for small screens*/
  /* line 269, ../sass/screen.scss */
  #logo {
    position: relative;
  }

  /* line 274, ../sass/screen.scss */
  #nav-menu {
    position: relative;
  }
}
/* line 283, ../sass/screen.scss */
#content-background {
  background: #f9f9f9;
  width: 85%;
  /*margin-top: 10em;*/
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  text-align: justify;
  align-content: center;
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 7em;
  overflow: auto;
  font-family: sans-serif;
  font: 1em 'Roboto';
}
@media screen and (max-width: 500px) {
  /* line 283, ../sass/screen.scss */
  #content-background {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* line 316, ../sass/screen.scss */
#footer-background {
  background: #232020;
  width: 85%;
  height: 20em;
  margin-bottom: 3em;
  color: #f9f9f9;
  /*margin-top: 10em;*/
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  text-align: center;
  align-content: center;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 20em;
  overflow: hidden;
  font: 'Cabin', sans-serif;
}
@media screen and (max-width: 500px) {
  /* line 316, ../sass/screen.scss */
  #footer-background {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* line 354, ../sass/screen.scss */
#title1 {
  text-align: center;
  font: 3.5em 'Oswald', sans-serif;
  color: #232020;
}

/* line 360, ../sass/screen.scss */
#title1-light {
  text-align: center;
  font: 5em 'Oswald', sans-serif;
  color: #ffffff;
}

/* line 366, ../sass/screen.scss */
.narrow-content {
  text-align: center;
  align-content: center;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
  padding-bottom: 1em;
  font-family: 'Cabin', sans-serif;
}

/* line 377, ../sass/screen.scss */
.container2 {
  width: 100%;
  text-align: centre;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  font-family: 'Cabin', sans-serif;
}

/* line 387, ../sass/screen.scss */
.col1 {
  width: 15em;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em auto 1em auto;
  height: 18em;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
@media screen and (max-width: 500px) {
  /* line 387, ../sass/screen.scss */
  .col1 {
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 409, ../sass/screen.scss */
.col2 {
  width: 15em;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  text-align: left;
  height: 8em;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
@media screen and (max-width: 500px) {
  /* line 409, ../sass/screen.scss */
  .col2 {
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 431, ../sass/screen.scss */
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.image-right-container {
  float: right;
  width: 400px;
}

.image-left-container {
  float: left;
  width: 190px;
  text-align: center; //box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.image-right {
	float: right;
  width: 380px;
  height: auto;
  margin: 20px 2px 1px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.50);
}

.image-left {
  float: left;
  width: 170px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.50);
}

.image-centre {
  float: centre;
  width: 400px;
  height: auto;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.50);
}

.image-text {
  font-size: 12px;
  width: auto;
  margin: 5px 0 0;
  text-align: center;
}